In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
import re
import json

In [36]:
merchantsData = """[{ name: "Walmart", country: "USA", city: "Bentonville AR", customers: "240M weekly", dailyCustomers: "34M", revenue: "$648B (2024)", valuation: "$534B", yearsInBusiness: 62, founded: 1962, sector: "Retail - Supermarket" },
    { name: "Amazon", country: "USA", city: "Seattle WA", customers: "310M active", dailyCustomers: "85M", revenue: "$575B (2023)", valuation: "$1.9T", yearsInBusiness: 30, founded: 1994, sector: "E-commerce/Tech" },
    { name: "Costco", country: "USA", city: "Issaquah WA", customers: "129M members", dailyCustomers: "3M", revenue: "$254B (2024)", valuation: "$387B", yearsInBusiness: 41, founded: 1983, sector: "Retail - Warehouse Club" },
    { name: "Target", country: "USA", city: "Minneapolis MN", customers: "200M annually", dailyCustomers: "5M", revenue: "$107B (2024)", valuation: "$68B", yearsInBusiness: 62, founded: 1962, sector: "Retail - Department Store" },
    { name: "The Home Depot", country: "USA", city: "Atlanta GA", customers: "40M per week", dailyCustomers: "5.7M", revenue: "$153B (2024)", valuation: "$384B", yearsInBusiness: 46, founded: 1978, sector: "Retail - Home Improvement" },
    { name: "Kroger", country: "USA", city: "Cincinnati OH", customers: "60M households", dailyCustomers: "11M", revenue: "$150B (2023)", valuation: "$41B", yearsInBusiness: 141, founded: 1883, sector: "Retail - Grocery" },
    { name: "Lowes", country: "USA", city: "Mooresville NC", customers: "18M per week", dailyCustomers: "2.6M", revenue: "$86B (2024)", valuation: "$132B", yearsInBusiness: 102, founded: 1921, sector: "Retail - Home Improvement" },
    { name: "CVS Health", country: "USA", city: "Woonsocket RI", customers: "5M daily", dailyCustomers: "5M", revenue: "$358B (2023)", valuation: "$75B", yearsInBusiness: 61, founded: 1963, sector: "Retail - Pharmacy" },
    { name: "Walgreens", country: "USA", city: "Deerfield IL", customers: "9M daily", dailyCustomers: "9M", revenue: "$139B (2023)", valuation: "$8B", yearsInBusiness: 123, founded: 1901, sector: "Retail - Pharmacy" },
    { name: "Best Buy", country: "USA", city: "Richfield MN", customers: "1.6M daily", dailyCustomers: "1.6M", revenue: "$46B (2024)", valuation: "$18B", yearsInBusiness: 58, founded: 1966, sector: "Retail - Electronics" },
    { name: "McDonalds", country: "USA", city: "Chicago IL", customers: "69M daily", dailyCustomers: "69M", revenue: "$25B (2023)", valuation: "$213B", yearsInBusiness: 69, founded: 1955, sector: "Fast Food" },
    { name: "Starbucks", country: "USA", city: "Seattle WA", customers: "100M weekly", dailyCustomers: "14M", revenue: "$36B (2023)", valuation: "$108B", yearsInBusiness: 53, founded: 1971, sector: "Coffee/Restaurant" },
    { name: "Subway", country: "USA", city: "Shelton CT", customers: "50M weekly", dailyCustomers: "7M", revenue: "$9.4B (2023)", valuation: "Private", yearsInBusiness: 59, founded: 1965, sector: "Fast Food" },
    { name: "Chick-fil-A", country: "USA", city: "Atlanta GA", customers: "8M daily", dailyCustomers: "8M", revenue: "$21B (2023)", valuation: "Private", yearsInBusiness: 78, founded: 1946, sector: "Fast Food" },
    { name: "Taco Bell", country: "USA", city: "Irvine CA", customers: "42M weekly", dailyCustomers: "6M", revenue: "$13B (2023)", valuation: "Part of Yum Brands", yearsInBusiness: 62, founded: 1962, sector: "Fast Food" },
    { name: "Burger King", country: "USA", city: "Miami FL", customers: "11M daily", dailyCustomers: "11M", revenue: "$1.8B (2023)", valuation: "Part of RBI $31B", yearsInBusiness: 70, founded: 1954, sector: "Fast Food" },
    { name: "Wendys", country: "USA", city: "Dublin OH", customers: "12M weekly", dailyCustomers: "1.7M", revenue: "$2.1B (2023)", valuation: "$3.5B", yearsInBusiness: 55, founded: 1969, sector: "Fast Food" },
    { name: "Dunkin", country: "USA", city: "Canton MA", customers: "3M daily", dailyCustomers: "3M", revenue: "$1.4B (2023)", valuation: "Part of Inspire Brands", yearsInBusiness: 74, founded: 1950, sector: "Coffee/Donuts" },
    { name: "Chipotle", country: "USA", city: "Newport Beach CA", customers: "1M daily", dailyCustomers: "1M", revenue: "$9.9B (2023)", valuation: "$75B", yearsInBusiness: 31, founded: 1993, sector: "Fast Casual" },
    { name: "Dominos Pizza", country: "USA", city: "Ann Arbor MI", customers: "3M daily", dailyCustomers: "3M", revenue: "$4.5B (2023)", valuation: "$14B", yearsInBusiness: 64, founded: 1960, sector: "Fast Food - Pizza" },
    { name: "Apple", country: "USA", city: "Cupertino CA", customers: "2B devices", dailyCustomers: "500K store visits", revenue: "$383B (2023)", valuation: "$3.4T", yearsInBusiness: 48, founded: 1976, sector: "Technology/Retail" },
    { name: "Microsoft", country: "USA", city: "Redmond WA", customers: "1.4B users", dailyCustomers: "N/A", revenue: "$211B (2023)", valuation: "$3.1T", yearsInBusiness: 49, founded: 1975, sector: "Technology/Software" },
    { name: "Google", country: "USA", city: "Mountain View CA", customers: "4B users", dailyCustomers: "3.5B searches", revenue: "$307B (2023)", valuation: "$2T", yearsInBusiness: 26, founded: 1998, sector: "Technology/Advertising" },
    { name: "eBay", country: "USA", city: "San Jose CA", customers: "132M active", dailyCustomers: "36M", revenue: "$10B (2023)", valuation: "$27B", yearsInBusiness: 29, founded: 1995, sector: "E-commerce" },
    { name: "PayPal", country: "USA", city: "San Jose CA", customers: "435M accounts", dailyCustomers: "48M transactions", revenue: "$30B (2023)", valuation: "$78B", yearsInBusiness: 25, founded: 1998, sector: "Fintech/Payments" },
    { name: "Etsy", country: "USA", city: "Brooklyn NY", customers: "96M active", dailyCustomers: "26M", revenue: "$2.7B (2023)", valuation: "$8B", yearsInBusiness: 19, founded: 2005, sector: "E-commerce - Handmade" },
    { name: "Shopify", country: "Canada", city: "Ottawa ON", customers: "4.4M merchants", dailyCustomers: "N/A", revenue: "$7.1B (2023)", valuation: "$95B", yearsInBusiness: 19, founded: 2004, sector: "E-commerce Platform" },
    { name: "Netflix", country: "USA", city: "Los Gatos CA", customers: "278M subscribers", dailyCustomers: "278M", revenue: "$33.7B (2023)", valuation: "$298B", yearsInBusiness: 27, founded: 1997, sector: "Streaming/Entertainment" },
    { name: "Spotify", country: "Sweden", city: "Stockholm", customers: "602M users", dailyCustomers: "165M", revenue: "$14B (2023)", valuation: "$53B", yearsInBusiness: 18, founded: 2006, sector: "Streaming/Music" },
    { name: "Uber", country: "USA", city: "San Francisco CA", customers: "150M users", dailyCustomers: "28M rides", revenue: "$37B (2023)", valuation: "$149B", yearsInBusiness: 15, founded: 2009, sector: "Technology/Transportation" },
    { name: "American Airlines", country: "USA", city: "Fort Worth TX", customers: "200M annually", dailyCustomers: "550K", revenue: "$53B (2023)", valuation: "$11B", yearsInBusiness: 98, founded: 1926, sector: "Airline" },
    { name: "Delta Air Lines", country: "USA", city: "Atlanta GA", customers: "200M annually", dailyCustomers: "550K", revenue: "$58B (2023)", valuation: "$32B", yearsInBusiness: 99, founded: 1925, sector: "Airline" },
    { name: "United Airlines", country: "USA", city: "Chicago IL", customers: "165M annually", dailyCustomers: "452K", revenue: "$53B (2023)", valuation: "$18B", yearsInBusiness: 98, founded: 1926, sector: "Airline" },
    { name: "Southwest Airlines", country: "USA", city: "Dallas TX", customers: "140M annually", dailyCustomers: "384K", revenue: "$26B (2023)", valuation: "$17B", yearsInBusiness: 53, founded: 1971, sector: "Airline" },
    { name: "Emirates", country: "UAE", city: "Dubai", customers: "50M annually", dailyCustomers: "137K", revenue: "$35B (2023)", valuation: "Private", yearsInBusiness: 38, founded: 1985, sector: "Airline" },
    { name: "Lufthansa", country: "Germany", city: "Cologne", customers: "130M annually", dailyCustomers: "356K", revenue: "$42B (2023)", valuation: "$8B", yearsInBusiness: 99, founded: 1953, sector: "Airline" },
    { name: "Air France-KLM", country: "France", city: "Paris", customers: "105M annually", dailyCustomers: "288K", revenue: "$32B (2023)", valuation: "$5B", yearsInBusiness: 20, founded: 2004, sector: "Airline" },
    { name: "British Airways", country: "UK", city: "London", customers: "43M annually", dailyCustomers: "118K", revenue: "$17B (2023)", valuation: "Part of IAG", yearsInBusiness: 104, founded: 1919, sector: "Airline" },
    { name: "Singapore Airlines", country: "Singapore", city: "Singapore", customers: "36M annually", dailyCustomers: "99K", revenue: "$16B (2023)", valuation: "$18B", yearsInBusiness: 76, founded: 1947, sector: "Airline" },
    { name: "Cathay Pacific", country: "Hong Kong", city: "Hong Kong", customers: "35M annually", dailyCustomers: "96K", revenue: "$10B (2023)", valuation: "$7B", yearsInBusiness: 77, founded: 1946, sector: "Airline" },
    { name: "Marriott International", country: "USA", city: "Bethesda MD", customers: "177M members", dailyCustomers: "1.5M rooms", revenue: "$23B (2023)", valuation: "$70B", yearsInBusiness: 97, founded: 1927, sector: "Hospitality/Hotels" },
    { name: "Hilton", country: "USA", city: "McLean VA", customers: "173M members", dailyCustomers: "1.2M rooms", revenue: "$10B (2023)", valuation: "$51B", yearsInBusiness: 105, founded: 1919, sector: "Hospitality/Hotels" },
    { name: "Hyatt", country: "USA", city: "Chicago IL", customers: "40M members", dailyCustomers: "300K rooms", revenue: "$6.6B (2023)", valuation: "$13B", yearsInBusiness: 66, founded: 1957, sector: "Hospitality/Hotels" },
    { name: "InterContinental Hotels", country: "UK", city: "Denham", customers: "100M members", dailyCustomers: "850K rooms", revenue: "$4.4B (2023)", valuation: "$17B", yearsInBusiness: 77, founded: 1946, sector: "Hospitality/Hotels" },
    { name: "Airbnb", country: "USA", city: "San Francisco CA", customers: "150M users", dailyCustomers: "2M bookings", revenue: "$10B (2023)", valuation: "$84B", yearsInBusiness: 16, founded: 2008, sector: "Hospitality/Vacation Rentals" },
    { name: "Booking.com", country: "Netherlands", city: "Amsterdam", customers: "1.5B room nights", dailyCustomers: "4M", revenue: "$21B (2023)", valuation: "Part of Booking Holdings $121B", yearsInBusiness: 27, founded: 1996, sector: "Travel/OTA" },
    { name: "Expedia", country: "USA", city: "Seattle WA", customers: "600M annually", dailyCustomers: "1.6M", revenue: "$12.8B (2023)", valuation: "$20B", yearsInBusiness: 28, founded: 1996, sector: "Travel/OTA" },
    { name: "Nike", country: "USA", city: "Beaverton OR", customers: "Not disclosed", dailyCustomers: "Not disclosed", revenue: "$51B (2023)", valuation: "$184B", yearsInBusiness: 60, founded: 1964, sector: "Apparel/Footwear" },
    { name: "Adidas", country: "Germany", city: "Herzogenaurach", customers: "Not disclosed", dailyCustomers: "Not disclosed", revenue: "$24B (2023)", valuation: "$39B", yearsInBusiness: 74, founded: 1949, sector: "Apparel/Footwear" },
    { name: "H&M", country: "Sweden", city: "Stockholm", customers: "2B transactions", dailyCustomers: "5.5M", revenue: "$22B (2023)", valuation: "$24B", yearsInBusiness: 78, founded: 1947, sector: "Retail - Fashion" },
    { name: "Zara", country: "Spain", city: "Arteixo", customers: "3M daily", dailyCustomers: "3M", revenue: "$35B (2023)", valuation: "$115B", yearsInBusiness: 49, founded: 1975, sector: "Retail - Fashion" },
    { name: "Uniqlo", country: "Japan", city: "Tokyo", customers: "1B annually", dailyCustomers: "2.7M", revenue: "$20B (2023)", valuation: "Part of Fast Retailing $68B", yearsInBusiness: 40, founded: 1984, sector: "Retail - Fashion" },
    { name: "Gap Inc", country: "USA", city: "San Francisco CA", customers: "75M annually", dailyCustomers: "205K", revenue: "$15B (2023)", valuation: "$8B", yearsInBusiness: 55, founded: 1969, sector: "Retail - Apparel" },
    { name: "Lululemon", country: "Canada", city: "Vancouver BC", customers: "25M annually", dailyCustomers: "69K", revenue: "$9.6B (2023)", valuation: "$45B", yearsInBusiness: 26, founded: 1998, sector: "Retail - Athletic Apparel" },
    { name: "TJX Companies", country: "USA", city: "Framingham MA", customers: "310M annually", dailyCustomers: "850K", revenue: "$54B (2024)", valuation: "$120B", yearsInBusiness: 48, founded: 1976, sector: "Retail - Off-Price" },
    { name: "Ross Stores", country: "USA", city: "Dublin CA", customers: "180M annually", dailyCustomers: "493K", revenue: "$20B (2023)", valuation: "$48B", yearsInBusiness: 42, founded: 1982, sector: "Retail - Off-Price" },
    { name: "Tesla", country: "USA", city: "Austin TX", customers: "6M vehicles sold", dailyCustomers: "5K deliveries", revenue: "$96B (2023)", valuation: "$1.1T", yearsInBusiness: 21, founded: 2003, sector: "Automotive/EV" },
    { name: "Toyota", country: "Japan", city: "Toyota City", customers: "10M annually", dailyCustomers: "27K", revenue: "$275B (2023)", valuation: "$264B", yearsInBusiness: 87, founded: 1937, sector: "Automotive" },
    { name: "Ford", country: "USA", city: "Dearborn MI", customers: "4M annually", dailyCustomers: "11K", revenue: "$176B (2023)", valuation: "$49B", yearsInBusiness: 121, founded: 1903, sector: "Automotive" },
    { name: "General Motors", country: "USA", city: "Detroit MI", customers: "5.9M annually", dailyCustomers: "16K", revenue: "$172B (2023)", valuation: "$54B", yearsInBusiness: 116, founded: 1908, sector: "Automotive" },
    { name: "Shell", country: "UK", city: "London", customers: "30M daily", dailyCustomers: "30M", revenue: "$316B (2023)", valuation: "$214B", yearsInBusiness: 117, founded: 1907, sector: "Energy/Gas Stations" },
    { name: "ExxonMobil", country: "USA", city: "Irving TX", customers: "25M daily", dailyCustomers: "25M", revenue: "$334B (2023)", valuation: "$510B", yearsInBusiness: 141, founded: 1882, sector: "Energy/Gas Stations" },
    { name: "BP", country: "UK", city: "London", customers: "11M daily", dailyCustomers: "11M", revenue: "$248B (2023)", valuation: "$105B", yearsInBusiness: 115, founded: 1909, sector: "Energy/Gas Stations" },
    { name: "Chevron", country: "USA", city: "San Ramon CA", customers: "8M daily", dailyCustomers: "8M", revenue: "$200B (2023)", valuation: "$285B", yearsInBusiness: 145, founded: 1879, sector: "Energy/Gas Stations" },
    { name: "Macys", country: "USA", city: "New York NY", customers: "33M annually", dailyCustomers: "90K", revenue: "$23B (2023)", valuation: "$4.5B", yearsInBusiness: 166, founded: 1858, sector: "Retail - Department Store" },
    { name: "Nordstrom", country: "USA", city: "Seattle WA", customers: "58M annually", dailyCustomers: "159K", revenue: "$15B (2023)", valuation: "$3B", yearsInBusiness: 123, founded: 1901, sector: "Retail - Department Store" },
    { name: "Kohls", country: "USA", city: "Menomonee Falls WI", customers: "43M annually", dailyCustomers: "118K", revenue: "$17B (2023)", valuation: "$2.5B", yearsInBusiness: 62, founded: 1962, sector: "Retail - Department Store" },
    { name: "Saks Fifth Avenue", country: "USA", city: "New York NY", customers: "12M annually", dailyCustomers: "33K", revenue: "$3B (est 2023)", valuation: "Private", yearsInBusiness: 97, founded: 1924, sector: "Retail - Luxury" },
    { name: "Neiman Marcus", country: "USA", city: "Dallas TX", customers: "7M annually", dailyCustomers: "19K", revenue: "$4.4B (2023)", valuation: "Private", yearsInBusiness: 117, founded: 1907, sector: "Retail - Luxury" },
    { name: "Bloomingdales", country: "USA", city: "New York NY", customers: "15M annually", dailyCustomers: "41K", revenue: "$3.2B (est 2023)", valuation: "Part of Macys", yearsInBusiness: 152, founded: 1872, sector: "Retail - Department Store" },
    { name: "Disney", country: "USA", city: "Burbank CA", customers: "145M parks visitors", dailyCustomers: "398K", revenue: "$88B (2023)", valuation: "$204B", yearsInBusiness: 101, founded: 1923, sector: "Entertainment/Media" },
    { name: "Universal Parks", country: "USA", city: "Orlando FL", customers: "50M annually", dailyCustomers: "137K", revenue: "$7.7B (2023)", valuation: "Part of Comcast", yearsInBusiness: 61, founded: 1964, sector: "Entertainment/Theme Parks" },
    { name: "AMC Theatres", country: "USA", city: "Leawood KS", customers: "300M annually", dailyCustomers: "822K", revenue: "$4.8B (2023)", valuation: "$2B", yearsInBusiness: 104, founded: 1920, sector: "Entertainment/Cinemas" },
    { name: "Regal Cinemas", country: "USA", city: "Knoxville TN", customers: "200M annually", dailyCustomers: "548K", revenue: "$3B (est 2023)", valuation: "Part of Cineworld", yearsInBusiness: 91, founded: 1989, sector: "Entertainment/Cinemas" },
    { name: "Ticketmaster", country: "USA", city: "Beverly Hills CA", customers: "500M tickets", dailyCustomers: "1.4M", revenue: "$17B (2023)", valuation: "Part of Live Nation", yearsInBusiness: 48, founded: 1976, sector: "Entertainment/Ticketing" },
    { name: "Verizon", country: "USA", city: "New York NY", customers: "144M subscribers", dailyCustomers: "N/A", revenue: "$134B (2023)", valuation: "$176B", yearsInBusiness: 24, founded: 2000, sector: "Telecommunications" },
    { name: "AT&T", country: "USA", city: "Dallas TX", customers: "240M subscribers", dailyCustomers: "N/A", revenue: "$122B (2023)", valuation: "$124B", yearsInBusiness: 139, founded: 1885, sector: "Telecommunications" },
    { name: "T-Mobile", country: "USA", city: "Bellevue WA", customers: "120M subscribers", dailyCustomers: "N/A", revenue: "$80B (2023)", valuation: "$233B", yearsInBusiness: 30, founded: 1994, sector: "Telecommunications" },
    { name: "Comcast", country: "USA", city: "Philadelphia PA", customers: "57M subscribers", dailyCustomers: "N/A", revenue: "$121B (2023)", valuation: "$170B", yearsInBusiness: 61, founded: 1963, sector: "Telecommunications/Cable" },
    { name: "Charter Communications", country: "USA", city: "Stamford CT", customers: "32M subscribers", dailyCustomers: "N/A", revenue: "$54B (2023)", valuation: "$60B", yearsInBusiness: 28, founded: 1993, sector: "Telecommunications/Cable" },
    { name: "Tesco", country: "UK", city: "Welwyn Garden City", customers: "21M weekly", dailyCustomers: "3M", revenue: "$86B (2023)", valuation: "$29B", yearsInBusiness: 105, founded: 1919, sector: "Retail - Grocery" },
    { name: "Carrefour", country: "France", city: "Boulogne-Billancourt", customers: "13M daily", dailyCustomers: "13M", revenue: "$98B (2023)", valuation: "$12B", yearsInBusiness: 63, founded: 1960, sector: "Retail - Grocery" },
    { name: "Aldi", country: "Germany", city: "Essen", customers: "100M weekly", dailyCustomers: "14M", revenue: "$134B (2023)", valuation: "Private", yearsInBusiness: 113, founded: 1913, sector: "Retail - Grocery" },
    { name: "Lidl", country: "Germany", city: "Neckarsulm", customers: "120M weekly", dailyCustomers: "17M", revenue: "$135B (2023)", valuation: "Private", yearsInBusiness: 94, founded: 1930, sector: "Retail - Grocery" },
    { name: "Whole Foods", country: "USA", city: "Austin TX", customers: "30M monthly", dailyCustomers: "1M", revenue: "$18B (2023)", valuation: "Part of Amazon", yearsInBusiness: 44, founded: 1980, sector: "Retail - Organic Grocery" },
    { name: "Trader Joes", country: "USA", city: "Monrovia CA", customers: "10M weekly", dailyCustomers: "1.4M", revenue: "$16B (est 2023)", valuation: "Private", yearsInBusiness: 56, founded: 1967, sector: "Retail - Grocery" },
    { name: "Publix", country: "USA", city: "Lakeland FL", customers: "1.3M daily", dailyCustomers: "1.3M", revenue: "$54B (2023)", valuation: "Private", yearsInBusiness: 94, founded: 1930, sector: "Retail - Grocery" },
    { name: "Safeway", country: "USA", city: "Pleasanton CA", customers: "600K daily", dailyCustomers: "600K", revenue: "$72B (2023)", valuation: "Part of Albertsons", yearsInBusiness: 116, founded: 1915, sector: "Retail - Grocery" },
    { name: "KFC", country: "USA", city: "Louisville KY", customers: "12M daily", dailyCustomers: "12M", revenue: "$28B (2023)", valuation: "Part of Yum Brands", yearsInBusiness: 83, founded: 1952, sector: "Fast Food" },
    { name: "Pizza Hut", country: "USA", city: "Plano TX", customers: "3M daily", dailyCustomers: "3M", revenue: "$13B (2023)", valuation: "Part of Yum Brands", yearsInBusiness: 66, founded: 1958, sector: "Fast Food - Pizza" },
    { name: "Papa Johns", country: "USA", city: "Louisville KY", customers: "2M weekly", dailyCustomers: "285K", revenue: "$2B (2023)", valuation: "$2.8B", yearsInBusiness: 40, founded: 1984, sector: "Fast Food - Pizza" },
    { name: "Five Guys", country: "USA", city: "Lorton VA", customers: "400K daily", dailyCustomers: "400K", revenue: "$2.1B (est 2023)", valuation: "Private", yearsInBusiness: 37, founded: 1986, sector: "Fast Food - Burgers" },
    { name: "Panera Bread", country: "USA", city: "Sunset Hills MO", customers: "400K daily", dailyCustomers: "400K", revenue: "$6B (2023)", valuation: "Private", yearsInBusiness: 42, founded: 1987, sector: "Fast Casual" },
    { name: "Shake Shack", country: "USA", city: "New York NY", customers: "100K daily", dailyCustomers: "100K", revenue: "$1B (2023)", valuation: "$3.5B", yearsInBusiness: 23, founded: 2001, sector: "Fast Casual - Burgers" },
    { name: "IKEA", country: "Sweden", city: "Almhult", customers: "900M annually", dailyCustomers: "2.5M", revenue: "$50B (2023)", valuation: "Private", yearsInBusiness: 81, founded: 1943, sector: "Retail - Furniture" },
    { name: "Wayfair", country: "USA", city: "Boston MA", customers: "22M active", dailyCustomers: "60K", revenue: "$12B (2023)", valuation: "$4B", yearsInBusiness: 22, founded: 2002, sector: "E-commerce - Home Goods" },
    { name: "Williams-Sonoma", country: "USA", city: "San Francisco CA", customers: "60M annually", dailyCustomers: "164K", revenue: "$8B (2023)", valuation: "$12B", yearsInBusiness: 69, founded: 1956, sector: "Retail - Home Goods" },
    { name: "Bed Bath & Beyond", country: "USA", city: "Union NJ", customers: "Bankrupt 2023", dailyCustomers: "N/A", revenue: "$7.9B (2022)", valuation: "Bankrupt", yearsInBusiness: 52, founded: 1971, sector: "Retail - Home Goods" }]"""

merchantsData = merchantsData.split("\n")
merchantsData = [x.replace('[','').replace("]","").replace(" },","}") for x in merchantsData]
data = pd.DataFrame()
for i, s in enumerate(merchantsData):
    s_fixed = re.sub(r'([{,]\s*)([a-zA-Z_][a-zA-Z0-9_]*)\s*:', r'\1"\2":', s)
    d = pd.DataFrame(json.loads(s_fixed), index=[len(data)])
    data = pd.concat([data, d], axis=0)

data

,name,country,city,customers,dailyCustomers,revenue,valuation,yearsInBusiness,founded,sector
0,Walmart,USA,Bentonville AR,240M weekly,34M,$648B (2024),$534B,62,1962,Retail - Supermarket
1,Amazon,USA,Seattle WA,310M active,85M,$575B (2023),$1.9T,30,1994,E-commerce/Tech
2,Costco,USA,Issaquah WA,129M members,3M,$254B (2024),$387B,41,1983,Retail - Warehouse Club
3,Target,USA,Minneapolis MN,200M annually,5M,$107B (2024),$68B,62,1962,Retail - Department Store
4,The Home Depot,USA,Atlanta GA,40M per week,5.7M,$153B (2024),$384B,46,1978,Retail - Home Improvement
...,...,...,...,...,...,...,...,...,...,...
93,Shake Shack,USA,New York NY,100K daily,100K,$1B (2023),$3.5B,23,2001,Fast Casual - Burgers
94,IKEA,Sweden,Almhult,900M annually,2.5M,$50B (2023),Private,81,1943,Retail - Furniture
95,Wayfair,USA,Boston MA,22M active,60K,$12B (2023),$4B,22,2002,E-commerce - Home Goods
96,Williams-Sonoma,USA,San Francisco CA,60M annually,164K,$8B (2023),$12B,69,1956,Retail - Home Goods
97,Bed Bath & Beyond,USA,Union NJ,Bankrupt 2023,N/A,$7.9B (2022),Bankrupt,52,1971,Retail - Home Goods

In [27]:
pd.DataFrame(d, index=[0])

,name,country,city,customers,dailyCustomers,revenue,valuation,yearsInBusiness,founded,sector
0,Walmart,USA,Bentonville AR,240M weekly,34M,$648B (2024),$534B,62,1962,Retail - Supermarket

In [41]:
merchants = data['name'].values

In [138]:
merchants

array(['Walmart', 'Amazon', 'Costco', 'Target', 'The Home Depot',
       'Kroger', 'Lowes', 'CVS Health', 'Walgreens', 'Best Buy',
       'McDonalds', 'Starbucks', 'Subway', 'Chick-fil-A', 'Taco Bell',
       'Burger King', 'Wendys', 'Dunkin', 'Chipotle', 'Dominos Pizza',
       'Apple', 'Microsoft', 'Google', 'eBay', 'PayPal', 'Etsy',
       'Shopify', 'Netflix', 'Spotify', 'Uber', 'American Airlines',
       'Delta Air Lines', 'United Airlines', 'Southwest Airlines',
       'Emirates', 'Lufthansa', 'Air France-KLM', 'British Airways',
       'Singapore Airlines', 'Cathay Pacific', 'Marriott International',
       'Hilton', 'Hyatt', 'InterContinental Hotels', 'Airbnb',
       'Booking.com', 'Expedia', 'Nike', 'Adidas', 'H&M', 'Zara',
       'Uniqlo', 'Gap Inc', 'Lululemon', 'TJX Companies', 'Ross Stores',
       'Tesla', 'Toyota', 'Ford', 'General Motors', 'Shell', 'ExxonMobil',
       'BP', 'Chevron', 'Macys', 'Nordstrom', 'Kohls',
       'Saks Fifth Avenue', 'Neiman Marcus', 'Bloomingdales', 'Disney',
       'Universal Parks', 'AMC Theatres', 'Regal Cinemas', 'Ticketmaster',
       'Verizon', 'AT&T', 'T-Mobile', 'Comcast', 'Charter Communications',
       'Tesco', 'Carrefour', 'Aldi', 'Lidl', 'Whole Foods', 'Trader Joes',
       'Publix', 'Safeway', 'KFC', 'Pizza Hut', 'Papa Johns', 'Five Guys',
       'Panera Bread', 'Shake Shack', 'IKEA', 'Wayfair',
       'Williams-Sonoma', 'Bed Bath & Beyond'], dtype=object)

## Code Based

In [38]:
from langchain_community.tools import DuckDuckGoSearchRun
from langchain.chains import LLMChain
from langchain.prompts import PromptTemplate
from langchain_openai import ChatOpenAI  # or use your local model wrapper
import pandas as pd
import time

In [39]:
from langchain import LlamaCpp

llm = LlamaCpp(
    model_path = '/Users/vishaldawar/Phi-3-mini-4k-instruct-fp16.gguf',
    n_gpu_layers=-1,
    max_tokens=500,
    n_ctx = 2048,
    seed=42,
    verbose=False
)

llama_context: n_batch is less than GGML_KQ_MASK_PAD - increasing to 64
llama_context: n_ctx_per_seq (2048) < n_ctx_train (4096) -- the full capacity of the model will not be utilized
ggml_metal_init: skipping kernel_get_rows_bf16                     (not supported)
ggml_metal_init: skipping kernel_set_rows_bf16                     (not supported)
ggml_metal_init: skipping kernel_mul_mv_bf16_f32                   (not supported)
ggml_metal_init: skipping kernel_mul_mv_bf16_f32_c4                (not supported)
ggml_metal_init: skipping kernel_mul_mv_bf16_f32_1row              (not supported)
ggml_metal_init: skipping kernel_mul_mv_bf16_f32_l4                (not supported)
ggml_metal_init: skipping kernel_mul_mv_bf16_bf16                  (not supported)
ggml_metal_init: skipping kernel_mul_mv_id_bf16_f32                (not supported)
ggml_metal_init: skipping kernel_mul_mm_bf16_f32                   (not supported)
ggml_metal_init: skipping kernel_mul_mm_id_bf16_f16                (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_bf16_h64           (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_bf16_h80           (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_bf16_h96           (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_bf16_h112          (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_bf16_h128          (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_bf16_h192          (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_bf16_hk192_hv128   (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_bf16_h256          (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_bf16_hk576_hv512   (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_vec_bf16_h64       (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_vec_bf16_h96       (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_vec_bf16_h128      (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_vec_bf16_h192      (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_vec_bf16_hk192_hv128 (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_vec_bf16_h256      (not supported)
ggml_metal_init: skipping kernel_flash_attn_ext_vec_bf16_hk576_hv512 (not supported)
ggml_metal_init: skipping kernel_cpy_f32_bf16                      (not supported)
ggml_metal_init: skipping kernel_cpy_bf16_f32                      (not supported)
ggml_metal_init: skipping kernel_cpy_bf16_bf16                     (not supported)

In [40]:
# Initialize search tool
search = DuckDuckGoSearchRun()

# Initialize LLM â€” you can replace with any supported LangChain LLM
# llm = ChatOpenAI(model="gpt-4-turbo", temperature=0.2)

In [42]:

# Define the prompt
prompt_template = """
You are a data research assistant. Given the merchant name below and search results,
extract structured factual information. Use only verified business facts (from official or reliable news/financial sources).

Merchant: {merchant_name}
Search Results:
{search_results}

Return a JSON object with the following fields (leave blank if not found):
{{
    "merchant_name": "{merchant_name}",
    "country": "",
    "city": "",
    "number_of_customers": "",
    "daily_customers": "",
    "yearly_revenue": "",
    "valuation": "",
    "years_in_business": "",
    "founded_year": "",
    "sector": "",
    "num_employees": ""
}}
"""

prompt = PromptTemplate(
    input_variables=["merchant_name", "search_results"],
    template=prompt_template
)

chain = LLMChain(llm=llm, prompt=prompt)


records = []

for i, merchant in enumerate(merchants):
    print(f"Searching for {i}, {merchant}...")
    # Step 1: Search
    query = f"{merchant} company profile number of customers revenue valuation headquarters site:linkedin.com OR site:crunchbase.com OR site:forbes.com OR site:reuters.com"
    search_results = search.run(query)

    # Step 2: Send to LLM for extraction
    response = chain.run(merchant_name=merchant, search_results=search_results)
    
    try:
        record = eval(response)  # response should be JSON-like
    except Exception:
        record = {"merchant_name": merchant, "raw_response": response}
    
    records.append(record)
    time.sleep(2)  # polite delay to avoid hammering APIs

# Convert to dataframe
df = pd.DataFrame(records)
df.to_csv("real_merchants_info.csv", index=False)
print("Data saved to real_merchants_info.csv")

/var/folders/dq/s07zv90x1qq7s275bwf08ylm0000gn/T/ipykernel_13302/3927879597.py:32: LangChainDeprecationWarning: The class `LLMChain` was deprecated in LangChain 0.1.17 and will be removed in 1.0. Use :meth:`~RunnableSequence, e.g., `prompt | llm`` instead.
  chain = LLMChain(llm=llm, prompt=prompt)
/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 0, Walmart...

/var/folders/dq/s07zv90x1qq7s275bwf08ylm0000gn/T/ipykernel_13302/3927879597.py:44: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use :meth:`~invoke` instead.
  response = chain.run(merchant_name=merchant, search_results=search_results)

ðŸ” Searching for 1, Amazon...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 2, Costco...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 3, Target...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 4, The Home Depot...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 5, Kroger...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 6, Lowes...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 7, CVS Health...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 8, Walgreens...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 9, Best Buy...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 10, McDonalds...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 11, Starbucks...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 12, Subway...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 13, Chick-fil-A...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 14, Taco Bell...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 15, Burger King...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 16, Wendys...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 17, Dunkin...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 18, Chipotle...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 19, Dominos Pizza...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 20, Apple...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 21, Microsoft...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 22, Google...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 23, eBay...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 24, PayPal...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 25, Etsy...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 26, Shopify...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 27, Netflix...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 28, Spotify...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 29, Uber...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 30, American Airlines...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 31, Delta Air Lines...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 32, United Airlines...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 33, Southwest Airlines...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 34, Emirates...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 35, Lufthansa...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 36, Air France-KLM...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 37, British Airways...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 38, Singapore Airlines...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 39, Cathay Pacific...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 40, Marriott International...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 41, Hilton...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 42, Hyatt...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 43, InterContinental Hotels...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 44, Airbnb...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 45, Booking.com...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 46, Expedia...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 47, Nike...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 48, Adidas...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 49, H&M...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 50, Zara...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 51, Uniqlo...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 52, Gap Inc...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 53, Lululemon...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 54, TJX Companies...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 55, Ross Stores...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 56, Tesla...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 57, Toyota...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 58, Ford...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 59, General Motors...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 60, Shell...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 61, ExxonMobil...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 62, BP...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 63, Chevron...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 64, Macys...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 65, Nordstrom...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 66, Kohls...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 67, Saks Fifth Avenue...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 68, Neiman Marcus...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 69, Bloomingdales...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 70, Disney...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 71, Universal Parks...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 72, AMC Theatres...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 73, Regal Cinemas...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 74, Ticketmaster...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 75, Verizon...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 76, AT&T...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 77, T-Mobile...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 78, Comcast...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 79, Charter Communications...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 80, Tesco...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 81, Carrefour...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 82, Aldi...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 83, Lidl...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 84, Whole Foods...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 85, Trader Joes...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 86, Publix...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 87, Safeway...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 88, KFC...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 89, Pizza Hut...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 90, Papa Johns...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 91, Five Guys...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 92, Panera Bread...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 93, Shake Shack...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 94, IKEA...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 95, Wayfair...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 96, Williams-Sonoma...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

ðŸ” Searching for 97, Bed Bath & Beyond...

/Users/vishaldawar/venv/lib/python3.9/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

âœ… Data saved to real_merchants_info.csv

In [43]:
data = pd.read_csv("./real_merchants_info.csv")
data

,merchant_name,error,raw_response
0,Walmart,Parsing failed,"\nsolution: {\n ""merchant_name"": ""Walmart"",..."
1,Amazon,Parsing failed,"\nexplanation: {\n ""merchant_name"": ""Amazon..."
2,Costco,Parsing failed,"\n- bob: To provide accurate information, I'll..."
3,Target,Parsing failed,\n- [solution]: Since the provided search resu...
4,The Home Depot,Parsing failed,"\n**response:** {\n ""merchant_name"": ""The H..."
...,...,...,...
93,Shake Shack,Parsing failed,"\nresponse: {\n ""merchant_name"": ""Shake Sha..."
94,IKEA,Parsing failed,"\nOutput:\n{\n ""merchant_name"": ""IKEA"",\n ..."
95,Wayfair,Parsing failed,"\nTeacher: Given the available information, I'..."
96,Williams-Sonoma,Parsing failed,\n- [support]: Given the constraints of not ha...
97,Bed Bath & Beyond,Parsing failed,\nexplanation: To provide the requested inform...

In [113]:
from json_repair import repair_json

In [118]:
cleaned_jsons = []
for idx, row in data.iterrows():
    print(idx)
    text = row['raw_response']
    matches = re.findall(r'\{[^{}]*\}', text)

    if len(matches) == 0:
        cleaned = ""
    else:
        target_char = "//" # Example: remove content after a semicolon

        # Escape the target character if it's a special regex character
        escaped_target_char = re.escape(target_char)
        
        # Define the regex pattern to match the target character and everything after it on the same line
        pattern = fr'{escaped_target_char}.*'
        
        # Use re.sub with the re.M (multiline) flag to apply the pattern to each line
        cleaned = re.sub(pattern, '', matches[0], flags=re.M)
        cleaned = repair_json(cleaned)
    try:
        cleaned_jsons.append(json.loads(cleaned))
    except:
        print(f"Could not json loads for {idx}")
        cleaned_jsons.append("")
        continue

0
1
2
Could not json loads for 2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97

In [119]:
data['cleaned_jsons'] = cleaned_jsons

In [120]:
data[['cleaned_jsons']]

                                        cleaned_jsons
0   {'merchant_name': 'Walmart', 'country': 'Unite...
1   {'merchant_name': 'Amazon', 'country': 'United...
2
3   {'merchant_name': 'Target', 'country': 'United...
4   {'merchant_name': 'The Home Depot', 'country':...
..                                                ...
93  {'merchant_name': 'Shake Shack', 'country': 'U...
94  {'merchant_name': 'IKEA', 'country': 'Sweden, ...
95  {'merchant_name': 'Wayfair', 'country': 'Unite...
96  {'merchant_name': 'Williams-Sonoma', 'country'...
97  {'merchant_name': 'Bed Bath & Beyond', 'countr...

[98 rows x 1 columns]

In [126]:
normalized_df = pd.json_normalize(data['cleaned_jsons'])
normalized_df = normalized_df.dropna(how='all')
normalized_df = normalized_df.drop('website',axis=1)
normalized_df

,merchant_name,country,city,number_of_customers,daily_customers,yearly_revenue,valuation,years_in_business,founded_year,sector,num_employees
0,Walmart,United States,"Bentonville, Arkansas",,2 million (approximate),$569 billion,$407 billion (as of 2019),75,1962,Retail,"2,300,000"
1,Amazon,United States,Seattle,,More than 385 million worldwide per day (as of...,$469 billion USD (for the fiscal year ending i...,$1.7 trillion as of April 2021,27 years (founded in 1994),1994,"E-commerce, Cloud Computing, Consumer Electronics",NaN
3,Target,United States,"Minneapolis, Minnesota (headquarters)",,Estimated millions annually based on revenue a...,$125 billion as of 2020 according to Forbes,$248 billion (as of March 2023),61 years (founded in 1902),1902,"Retail, specifically discount department store...",NaN
4,The Home Depot,United States,,10 million customers per day,10 million customers per day,$125 billion in 2020 (from Investopedia),$320 billion as of September 2020 (from Forbes),49 years,1978,Consumer Discretionary - Home Improvement Retail,NaN
5,Kroger,United States,"Various - headquartered in Cincinnati, Ohio",,,$124 billion (as of 2020),$30 billion as of 2021,Over 135 years,1883,Retail - Grocery Stores,NaN
...,...,...,...,...,...,...,...,...,...,...,...
93,Shake Shack,United States,,,1 million+ (estimated),$450-500 million,$3.7 billion,20,2004,Foodservice,NaN
94,IKEA,"Sweden, Denmark, United States, Belgium, Russi...",,,2 million worldwide,$50 billion USD (as of 2018),$79.3 billion USD (as of September 2021),76 years,1943,"Furniture, home accessories, and kitchen appli...",NaN
95,Wayfair,United States,"Boston, Massachusetts",Not explicitly provided. Estimated based on ma...,Not explicitly provided. Noted that Wayfair se...,$14 billion USD in 2021,$67 billion as of October 2021,Over 25 years,1999,"E-commerce, specifically home goods and furnis...",NaN
96,Williams-Sonoma,United States,,,,$1.2 billion (approximate),"$8.5 billion (as of 2020, approximate)",76 years,1956,Retail - Home & Kitchen,NaN
97,Bed Bath & Beyond,United States,"Wilmington, DE (headquarters)",,,$5.8 billion,$3.1 billion,94 years,1917,Retail - Home Furnishings,NaN

In [128]:
normalized_df.columns

Index(['merchant_name', 'country', 'city', 'number_of_customers',
       'daily_customers', 'yearly_revenue', 'valuation', 'years_in_business',
       'founded_year', 'sector', 'num_employees'],
      dtype='object')

In [136]:
normalized_df.to_csv("attributes.csv",index=False)

In [129]:
from sentence_transformers import SentenceTransformer

/Users/vishaldawar/venv/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [130]:
df = normalized_df.copy()

# Step 1: Convert each merchant row into a descriptive text
def row_to_text(row):
    return (
        f"{row['merchant_name']} is a company in the {row['sector']} sector, "
        f"based in {row['city']}, {row['country']}. "
        f"It has around {row['number_of_customers']} customers and {row['daily_customers']} daily customers. "
        f"The yearly revenue is {row['yearly_revenue']} with a valuation of {row['valuation']}. "
        f"Founded in {row['founded_year']}, it has been in business for {row['years_in_business']} years "
        f"and employs approximately {row['num_employees']} people."
    )

df["text"] = df.apply(row_to_text, axis=1)

In [132]:
model_name = "/Users/vishaldawar/Phi-3-mini-4k-instruct-fp16.gguf"

# Step 2: Load a compact and efficient embedding model (no API key needed)
model = SentenceTransformer("all-MiniLM-L6-v2")

# Step 3: Generate embeddings
df["embedding"] = model.encode(df["text"].tolist(), show_progress_bar=True).tolist()

# Step 4: Inspect results
print(df[["merchant_name", "text"]].head())
print("\nEmbedding vector size:", len(df["embedding"][0]))

Batches: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00,  5.30it/s]

    merchant_name                                               text
0         Walmart  Walmart is a company in the Retail sector, bas...
1          Amazon  Amazon is a company in the E-commerce, Cloud C...
3          Target  Target is a company in the Retail, specificall...
4  The Home Depot  The Home Depot is a company in the Consumer Di...
5          Kroger  Kroger is a company in the Retail - Grocery St...

Embedding vector size: 384

In [149]:
df

,merchant_name,country,city,number_of_customers,daily_customers,yearly_revenue,valuation,years_in_business,founded_year,sector,num_employees,text,embedding
0,Walmart,United States,"Bentonville, Arkansas",,2 million (approximate),$569 billion,$407 billion (as of 2019),75,1962,Retail,"2,300,000","Walmart is a company in the Retail sector, bas...","[0.1002039834856987, -0.04908445477485657, -0...."
1,Amazon,United States,Seattle,,More than 385 million worldwide per day (as of...,$469 billion USD (for the fiscal year ending i...,$1.7 trillion as of April 2021,27 years (founded in 1994),1994,"E-commerce, Cloud Computing, Consumer Electronics",NaN,"Amazon is a company in the E-commerce, Cloud C...","[0.09570392966270447, -0.07792823016643524, -0..."
3,Target,United States,"Minneapolis, Minnesota (headquarters)",,Estimated millions annually based on revenue a...,$125 billion as of 2020 according to Forbes,$248 billion (as of March 2023),61 years (founded in 1902),1902,"Retail, specifically discount department store...",NaN,"Target is a company in the Retail, specificall...","[0.050721243023872375, -0.03158675506711006, -..."
4,The Home Depot,United States,,10 million customers per day,10 million customers per day,$125 billion in 2020 (from Investopedia),$320 billion as of September 2020 (from Forbes),49 years,1978,Consumer Discretionary - Home Improvement Retail,NaN,The Home Depot is a company in the Consumer Di...,"[0.018078885972499847, -0.043807052075862885, ..."
5,Kroger,United States,"Various - headquartered in Cincinnati, Ohio",,,$124 billion (as of 2020),$30 billion as of 2021,Over 135 years,1883,Retail - Grocery Stores,NaN,Kroger is a company in the Retail - Grocery St...,"[0.0418100580573082, -0.054275721311569214, -0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,Shake Shack,United States,,,1 million+ (estimated),$450-500 million,$3.7 billion,20,2004,Foodservice,NaN,Shake Shack is a company in the Foodservice se...,"[-0.015121443197131157, -0.08053352683782578, ..."
94,IKEA,"Sweden, Denmark, United States, Belgium, Russi...",,,2 million worldwide,$50 billion USD (as of 2018),$79.3 billion USD (as of September 2021),76 years,1943,"Furniture, home accessories, and kitchen appli...",NaN,"IKEA is a company in the Furniture, home acces...","[-0.038097869604825974, -0.005186257418245077,..."
95,Wayfair,United States,"Boston, Massachusetts",Not explicitly provided. Estimated based on ma...,Not explicitly provided. Noted that Wayfair se...,$14 billion USD in 2021,$67 billion as of October 2021,Over 25 years,1999,"E-commerce, specifically home goods and furnis...",NaN,"Wayfair is a company in the E-commerce, specif...","[0.014679105021059513, -0.08961138874292374, -..."
96,Williams-Sonoma,United States,,,,$1.2 billion (approximate),"$8.5 billion (as of 2020, approximate)",76 years,1956,Retail - Home & Kitchen,NaN,Williams-Sonoma is a company in the Retail - H...,"[0.02870260179042816, 0.016919763758778572, -0..."
97,Bed Bath & Beyond,United States,"Wilmington, DE (headquarters)",,,$5.8 billion,$3.1 billion,94 years,1917,Retail - Home Furnishings,NaN,Bed Bath & Beyond is a company in the Retail -...,"[0.06689605861902237, -0.10392162948846817, 0...."

In [137]:
df.to_csv("./attributes_and_embeddings.csv",index=False)

In [147]:
for idx, row in data.iterrows():
    if 'uber' in row['merchant_name'].lower():
        print(row['merchant_name'])

Uber

In [151]:
from sklearn.metrics.pairwise import cosine_similarity
from typing import List

In [155]:
def findSimilarity(w1, w2):
    """
    Returns normalized levenshtein similarity between two input strings w1 and w2.
    """
    dot_product = np.dot(w1, w2)
    l2_w1 = np.linalg.norm(w1)
    l2_w2 = np.linalg.norm(w2)
    cosine_simi = dot_product / (l2_w1 * l2_w2)
    return cosine_simi

def match_customers(customer_name: str, embedding: List[float], data: pd.DataFrame):
    """
    Finds the top 3 similar job names based on the input query using levenshtein similarity w1 and w2.
    """

    all_simi = pd.DataFrame(columns=['input','match','score'])
    for idx, row in data.iterrows():
        w1 = customer_name
        for col in ['embedding']:
            w2 = row[col]
            simi = findSimilarity(embedding, w2)
            all_simi.loc[len(all_simi)] = [w1, row['merchant_name'], simi]
    matches = all_simi.sort_values('score',ascending=False).head(10)[['input','match','score']]
    return matches

In [156]:
customer_name = "Uber"
embedding = df[df['merchant_name'] == "Uber"]['embedding'].values[0]
match_customers(customer_name, embedding, df)

   input      match     score
28  Uber       Uber  1.000000
55  Uber      Tesla  0.551929
21  Uber     Google  0.513667
19  Uber      Apple  0.512867
20  Uber  Microsoft  0.493264
76  Uber   T-Mobile  0.483616
62  Uber    Chevron  0.475628
10  Uber  Starbucks  0.466973
1   Uber     Amazon  0.466578
56  Uber     Toyota  0.459506

In [4]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
from sentence_transformers import SentenceTransformer

In [72]:
real = pd.read_csv("real_merchants_info.csv")
real

,merchant_name,error,raw_response
0,Walmart,Parsing failed,"\nsolution: {\n ""merchant_name"": ""Walmart"",..."
1,Amazon,Parsing failed,"\nexplanation: {\n ""merchant_name"": ""Amazon..."
2,Costco,Parsing failed,"\n- bob: To provide accurate information, I'll..."
3,Target,Parsing failed,\n- [solution]: Since the provided search resu...
4,The Home Depot,Parsing failed,"\n**response:** {\n ""merchant_name"": ""The H..."
...,...,...,...
93,Shake Shack,Parsing failed,"\nresponse: {\n ""merchant_name"": ""Shake Sha..."
94,IKEA,Parsing failed,"\nOutput:\n{\n ""merchant_name"": ""IKEA"",\n ..."
95,Wayfair,Parsing failed,"\nTeacher: Given the available information, I'..."
96,Williams-Sonoma,Parsing failed,\n- [support]: Given the constraints of not ha...
97,Bed Bath & Beyond,Parsing failed,\nexplanation: To provide the requested inform...

In [74]:
import pandas as pd
import numpy as np
import random

# ---------------------------
# Base setup
# ---------------------------
np.random.seed(42)

merchant_list = [
    'Walmart', 'Amazon', 'Costco', 'Target', 'The Home Depot', 'Kroger', 'Lowes', 'CVS Health', 'Walgreens', 'Best Buy',
    'McDonalds', 'Starbucks', 'Subway', 'Chick-fil-A', 'Taco Bell', 'Burger King', 'Wendys', 'Dunkin', 'Chipotle', 'Dominos Pizza',
    'Apple', 'Microsoft', 'Google', 'eBay', 'PayPal', 'Etsy', 'Shopify', 'Netflix', 'Spotify', 'Uber',
    'American Airlines', 'Delta Air Lines', 'United Airlines', 'Southwest Airlines', 'Emirates', 'Lufthansa', 'Air France-KLM',
    'British Airways', 'Singapore Airlines', 'Cathay Pacific', 'Marriott International', 'Hilton', 'Hyatt', 'InterContinental Hotels',
    'Airbnb', 'Booking.com', 'Expedia', 'Nike', 'Adidas', 'H&M', 'Zara', 'Uniqlo', 'Gap Inc', 'Lululemon', 'TJX Companies',
    'Ross Stores', 'Tesla', 'Toyota', 'Ford', 'General Motors', 'Shell', 'ExxonMobil', 'BP', 'Chevron', 'Macys', 'Nordstrom',
    'Kohls', 'Saks Fifth Avenue', 'Neiman Marcus', 'Bloomingdales', 'Disney', 'Universal Parks', 'AMC Theatres', 'Regal Cinemas',
    'Ticketmaster', 'Verizon', 'AT&T', 'T-Mobile', 'Comcast', 'Charter Communications', 'Tesco', 'Carrefour', 'Aldi', 'Lidl',
    'Whole Foods', 'Trader Joes', 'Publix', 'Safeway', 'KFC', 'Pizza Hut', 'Papa Johns', 'Five Guys', 'Panera Bread', 'Shake Shack',
    'IKEA', 'Wayfair', 'Williams-Sonoma', 'Bed Bath & Beyond'
]

# ---------------------------
# MCC category mapping
# ---------------------------
mcc_mapping = {
    "Groceries": ['Walmart', 'Costco', 'Target', 'Kroger', 'Tesco', 'Carrefour', 'Aldi', 'Lidl', 'Whole Foods', 'Trader Joes', 'Publix', 'Safeway'],
    "E-commerce": ['Amazon', 'eBay', 'Shopify', 'Etsy', 'Wayfair'],
    "Restaurants": ['McDonalds', 'Starbucks', 'Subway', 'Chick-fil-A', 'Taco Bell', 'Burger King', 'Wendys', 'Dunkin', 'Chipotle', 'Dominos Pizza', 'KFC', 'Pizza Hut', 'Papa Johns', 'Five Guys', 'Panera Bread', 'Shake Shack'],
    "Technology": ['Apple', 'Microsoft', 'Google', 'PayPal'],
    "Streaming": ['Netflix', 'Spotify', 'Disney', 'Universal Parks', 'AMC Theatres', 'Regal Cinemas'],
    "Travel": ['American Airlines', 'Delta Air Lines', 'United Airlines', 'Southwest Airlines', 'Emirates', 'Lufthansa', 'Air France-KLM', 'British Airways', 'Singapore Airlines', 'Cathay Pacific'],
    "Hotels": ['Marriott International', 'Hilton', 'Hyatt', 'InterContinental Hotels', 'Airbnb', 'Booking.com', 'Expedia'],
    "Retail": ['Nike', 'Adidas', 'H&M', 'Zara', 'Uniqlo', 'Gap Inc', 'Lululemon', 'TJX Companies', 'Ross Stores', 'Macys', 'Nordstrom', 'Kohls', 'Saks Fifth Avenue', 'Neiman Marcus', 'Bloomingdales', 'IKEA', 'Williams-Sonoma', 'Bed Bath & Beyond'],
    "Automotive": ['Tesla', 'Toyota', 'Ford', 'General Motors'],
    "Energy": ['Shell', 'ExxonMobil', 'BP', 'Chevron'],
    "Telecom": ['Verizon', 'AT&T', 'T-Mobile', 'Comcast', 'Charter Communications'],
    "Ticketing": ['Ticketmaster']
}

# Reverse mapping merchant â†’ MCC
merchant_to_mcc = {m: k for k, v in mcc_mapping.items() for m in v}

# Country mapping (simplified)
merchant_to_country = {
    "Carrefour": "FRA", "Tesco": "GBR", "Lidl": "DEU", "Aldi": "DEU", "Emirates": "ARE",
    "Lufthansa": "DEU", "Air France-KLM": "FRA", "British Airways": "GBR",
    "Singapore Airlines": "SGP", "Cathay Pacific": "HKG", "Toyota": "JPN", "BP": "GBR"
}
default_country = "USA"

# ---------------------------
# Synthetic generation
# ---------------------------

num_cards = 500
num_transactions = 5000  # ðŸ‘ˆ change this to generate more or fewer transactions

cards = [f"card_{i}" for i in range(1, num_cards + 1)]

data = []
for _ in range(num_transactions):
    merchant = random.choice(merchant_list)
    mcc = merchant_to_mcc.get(merchant, "Retail")
    card = random.choice(cards)
    country = merchant_to_country.get(merchant, default_country)

    # amount distribution varies by category
    if mcc in ["Streaming", "E-commerce"]:
        amount = round(np.random.uniform(5, 50), 2)
    elif mcc in ["Groceries", "Restaurants"]:
        amount = round(np.random.uniform(10, 300), 2)
    elif mcc in ["Hotels", "Travel"]:
        amount = round(np.random.uniform(50, 1500), 2)
    elif mcc in ["Technology", "Automotive"]:
        amount = round(np.random.uniform(100, 5000), 2)
    elif mcc in ["Energy"]:
        amount = round(np.random.uniform(30, 200), 2)
    else:
        amount = round(np.random.uniform(5, 1000), 2)

    data.append([card, country, merchant, amount, mcc])

transactions = pd.DataFrame(data, columns=["card_number", "country_code", "merchant", "amount", "mcc"])

# Display sample
print(transactions.head())
print("\nTotal transactions:", len(transactions))

  card_number country_code        merchant  amount          mcc
0    card_248          HKG  Cathay Pacific  593.08       Travel
1    card_184          FRA       Carrefour  285.71    Groceries
2    card_400          USA         Walmart  222.28    Groceries
3    card_141          USA    Panera Bread  183.61  Restaurants
4     card_20          USA          Airbnb  276.23       Hotels

Total transactions: 5000

In [75]:
transactions.to_csv("all_transactions.csv",index=False)

In [5]:
# Example dataset of transactions
transactions = pd.DataFrame({
    "card_number": ["card_1", "card_1", "card_2", "card_3", "card_3"],
    "country_code": ["USA", "USA", "FRA", "IND", "IND"],
    "merchant": ["Netflix", "Walmart", "Carrefour", "Amazon", "Big Bazaar"],
    "amount": [15.99, 220.50, 80.20, 55.30, 60.75],
    "mcc": ["Streaming", "Groceries", "Retail", "E-commerce", "Groceries"]
})

# Step 1: Convert each transaction into a text description
transactions["text"] = transactions.apply(
    lambda r: f"Transaction of ${r.amount} at {r.merchant} in {r.country_code} for {r.mcc}",
    axis=1
)

In [6]:
transactions

,card_number,country_code,merchant,amount,mcc,text
0,card_1,USA,Netflix,15.99,Streaming,Transaction of $15.99 at Netflix in USA for St...
1,card_1,USA,Walmart,220.50,Groceries,Transaction of $220.5 at Walmart in USA for Gr...
2,card_2,FRA,Carrefour,80.20,Retail,Transaction of $80.2 at Carrefour in FRA for R...
3,card_3,IND,Amazon,55.30,E-commerce,Transaction of $55.3 at Amazon in IND for E-co...
4,card_3,IND,Big Bazaar,60.75,Groceries,Transaction of $60.75 at Big Bazaar in IND for...

In [16]:
txns = transactions.drop(['text'],axis=1)

In [8]:
# Step 2: Get embeddings
model = SentenceTransformer("all-MiniLM-L6-v2")
embeddings = model.encode(transactions["text"].tolist())

# Step 3: Cluster embeddings to find pseudo-classes (behavioral clusters)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(embeddings)
kmeans = KMeans(n_clusters=3, random_state=42)
pseudo_labels = kmeans.fit_predict(X_scaled)

In [11]:
pseudo_labels

array([2, 0, 1, 1, 0], dtype=int32)

In [13]:
cluster_data

array([[-4.57453191e-01,  3.08506399e-01,  9.72278595e-01,
         5.68620443e-01, -1.14189482e+00, -5.88826872e-02,
        -5.60658835e-02, -4.57121015e-01, -1.54503834e+00,
        -1.54029107e+00, -5.65088987e-01,  7.86212444e-01,
        -1.47883058e-01, -6.73111081e-01,  1.20970771e-01,
        -2.65956998e-01,  6.29441321e-01,  6.00432813e-01,
        -5.73237240e-01, -8.09952557e-01,  1.04243422e+00,
         4.39816952e-01, -1.07020998e+00,  1.75650969e-01,
        -1.01497963e-01, -1.08456051e+00, -1.78263158e-01,
        -9.73463953e-01,  1.30614236e-01,  1.63027358e+00,
        -1.48556662e+00, -1.57260013e+00, -2.08288416e-01,
         6.48234904e-01, -1.08082521e+00,  1.19435692e+00,
         1.37674081e+00,  8.38240981e-01, -1.06325078e+00,
         6.08519912e-02,  9.11638260e-01,  1.05712163e+00,
        -6.60398662e-01, -6.82304204e-01, -7.85366952e-01,
         2.56119877e-01, -6.82736933e-01,  6.70981184e-02,
        -1.36424685e+00,  4.14292246e-01,  1.06050229e+00,
         1.80278897e-01,  1.44593930e+00, -5.30609451e-02,
         2.05126047e-01,  2.59460092e-01,  1.96968830e+00,
         2.25369841e-01, -8.05590808e-01,  1.38768959e+00,
        -1.31883204e+00, -1.13271499e+00,  4.84836996e-01,
        -9.99133289e-01,  1.35504571e-03,  7.65385985e-01,
         7.52646089e-01, -7.70583570e-01,  6.39137387e-01,
         5.04354775e-01,  6.57149136e-01,  1.42512631e+00,
        -9.93223667e-01, -1.33377981e+00, -1.18742192e+00,
        -1.04966772e+00,  2.76953757e-01, -1.76163685e+00,
         3.89653623e-01,  5.89729905e-01, -2.27542482e-02,
        -4.03947771e-01,  1.03372216e-01, -1.56016421e+00,
        -1.41970947e-01, -1.39341044e+00,  9.11389291e-02,
         7.00254917e-01,  1.91722572e-01, -1.20054770e+00,
        -5.60516343e-02, -1.16968334e+00, -2.32690591e-02,
        -4.80797261e-01, -7.90040314e-01, -1.41103423e+00,
         5.64774573e-01, -1.66623735e+00,  4.03372556e-01,
        -1.32822764e+00, -5.31569533e-02, -6.82441652e-01,
         6.48231387e-01, -1.25399005e+00,  1.29699266e+00,
        -2.88183779e-01, -1.73400664e+00, -1.25893903e+00,
        -6.53538525e-01,  1.26462662e+00,  5.63943148e-01,
        -3.55918139e-01,  4.04610604e-01,  1.11525810e+00,
        -1.45235288e+00, -7.44552612e-01,  3.38536233e-01,
        -1.73619485e+00, -7.87557781e-01, -3.10692698e-01,
        -4.65843901e-02,  9.70461741e-02, -1.05174720e+00,
         1.04727411e+00,  3.71020347e-01,  2.45760918e-01,
        -5.36281407e-01,  1.28413248e+00, -2.61391532e-02,
        -3.58844727e-01,  1.53358066e+00,  7.69673228e-01,
         2.89053321e-01,  1.18651748e+00, -5.02143335e-03,
        -1.09223209e-01,  1.73829234e+00,  4.15055960e-01,
         2.77484119e-01,  1.71849847e-01,  1.35813534e+00,
         1.17279541e+00,  6.84943125e-02,  9.37470794e-01,
        -1.40945077e+00,  2.73124039e-01,  4.99572396e-01,
         1.18040824e+00, -9.14775193e-01, -8.86350393e-01,
         4.06232685e-01, -6.22888863e-01, -1.28468001e+00,
         7.01718986e-01, -1.77321181e-01, -6.09966218e-01,
        -3.88316065e-01, -1.52312267e+00,  8.11904252e-01,
        -2.87993103e-01,  9.20080245e-01,  1.91606951e+00,
         2.42710114e-01,  1.35798800e+00,  2.47918576e-01,
         8.82374525e-01,  1.59735990e+00, -9.10029948e-01,
         1.22627807e+00, -1.15285730e+00,  8.57502162e-01,
         3.28409106e-01,  1.23778701e+00, -5.26341200e-01,
         2.78232783e-01, -6.95046484e-01, -1.15667486e+00,
         5.80309220e-02, -7.18831062e-01,  3.61392409e-01,
        -5.43057501e-01,  2.20567793e-01, -1.33185995e+00,
        -1.39644182e+00,  9.97919321e-01, -1.43865854e-01,
         5.12053594e-02,  9.27845836e-01,  7.66313255e-01,
         7.51781344e-01,  1.82289588e+00, -3.04693043e-01,
         8.40924203e-01, -1.44814610e+00,  1.40279457e-01,
         7.43969008e-02,  1.15627758e-01,  1.19869006e+00,
         1.10180402e+00,  1.00844324e+00,  2.74985671e-01,
         1.29796553e+00,  6.25011146e-01,  6.52131259e-01,
         7.52192914e-01,  1.23657942e+00,  4.38758820e-01,
        -1.67340851e+00, -3.52671623e-01, -1.09601653e+00,
         1.66354132e+00,  8.77406716e-01, -1.29394531e+00,
         1.28906894e+00, -1.76533647e-02,  1.09583390e+00,
         3.68921876e-01, -1.82032466e-01, -8.84647444e-02,
         8.50469887e-01,  1.33895412e-01, -1.37373972e+00,
        -9.70163286e-01, -1.48198736e+00, -3.91914099e-01,
         2.54396796e-01,  1.36168504e+00, -6.60839900e-02,
         5.98548591e-01,  3.24370027e-01,  7.11632609e-01,
        -3.15955430e-01, -1.61935616e+00, -7.89074063e-01,
         1.45717457e-01, -1.97060436e-01,  6.09732687e-01,
         1.33303273e+00,  1.22333384e+00,  1.04679239e+00,
         9.26361740e-01,  9.69429314e-02, -1.02610648e+00,
        -1.69204819e+00, -4.28959608e-01,  9.00394797e-01,
        -1.95275277e-01,  1.46323514e+00, -2.54369229e-01,
        -8.20296824e-01,  5.94496667e-01, -1.37118196e+00,
         2.77974188e-01,  6.44530177e-01, -7.55043507e-01,
        -5.22823274e-01,  1.25635219e+00,  1.71434689e+00,
         1.15446174e+00, -1.67887211e-01, -3.28659207e-01,
         1.37501919e+00,  1.84161317e+00, -4.13756937e-01,
         1.44104272e-01,  5.38080335e-01, -8.60519588e-01,
         1.57637239e+00, -1.76826143e+00,  2.18091741e-01,
         3.45112145e-01,  5.71496189e-02, -7.04161346e-01,
         8.20613876e-02, -1.51633048e+00, -1.39282203e+00,
        -1.13866067e+00, -7.01985061e-01, -1.18232441e+00,
         4.04013358e-02, -2.80991435e-01, -1.65957761e+00,
        -1.33652782e+00, -6.45276070e-01, -5.39453626e-01,
         1.94563698e-02, -9.24281850e-02,  7.33048320e-01,
        -6.72242582e-01, -1.44595218e+00,  1.20610714e+00,
        -1.65773690e+00,  8.73322606e-01, -9.97058451e-01,
         9.09664631e-01,  1.76169896e+00,  7.99532890e-01,
        -3.46884847e-01, -2.56783247e-01,  1.45461202e-01,
        -4.78607565e-02,  1.29146427e-01, -5.38451374e-01,
        -1.37291682e+00,  1.53220677e+00, -1.51315784e+00,
         5.64235508e-01,  4.34433252e-01,  1.69429109e-01,
         6.07105970e-01, -8.95692945e-01,  1.20428908e+00,
         1.20948160e+00,  2.96295911e-01, -6.99128687e-01,
         1.28994894e+00, -1.03637075e+00, -1.39949644e+00,
         1.19269133e+00,  5.77867210e-01,  1.05084705e+00,
         1.29784572e+00, -9.14508104e-02, -2.84990184e-02,
        -2.24443257e-01,  1.86928797e+00,  8.53509545e-01,
        -1.54855633e+00,  7.59573951e-02,  1.09896235e-01,
        -6.61575139e-01,  4.11018819e-01, -1.79262221e-01,
         6.02787495e-01, -1.32490838e+00, -3.47188078e-02,
         3.06275100e-01,  1.51006591e+00, -2.67503876e-02,
         9.14657712e-01, -1.98856151e+00,  1.71491861e-01,
        -1.27762806e+00, -1.27689695e+00,  6.93739533e-01,
        -6.25752985e-01, -7.73182631e-01,  6.54046893e-01,
         5.48843801e-01, -4.00115937e-01,  8.65443349e-01,
        -6.21154726e-01, -1.12731087e+00,  1.51238489e+00,
         1.36773133e+00,  1.08613193e+00,  1.58957124e+00,
         1.10874772e+00, -4.79394794e-01, -1.27091455e+00,
        -4.77878600e-01, -6.46563292e-01, -7.36936390e-01,
         6.75425828e-01, -9.24719125e-03, -1.63009298e+00,
        -1.02384090e+00, -1.96127522e+00,  3.74819249e-01,
         1.20039320e+00, -8.51786077e-01, -8.09324682e-01,
         8.09925914e-01, -8.42049062e-01, -5.80543637e-01,
        -5.28963804e-01, -1.46020663e+00, -8.70951533e-01,
         1.92271292e-01,  1.72445965e+00,  1.15387201e+00,
         7.05432236e-01, -5.96564770e-01,  3.88229848e-03],
       [ 6.45040214e-01,  9.87045169e-01, -1.23641849e+00,
         2.41494685e-01, -1.16724432e+00, -3.86291593e-01,
        -1.26954675e+00,  1.02490008e+00, -3.57345432e-01,
         6.14007175e-01,  1.36345041e+00, -1.20107234e+00,
         4.76761431e-01, -6.47194982e-01,  7.59736180e-01,
         1.29265308e+00,  1.18457544e+00,  9.61507380e-01,
        -7.17041135e-01, -1.17370534e+00, -1.80093169e+00,
        -3.57476324e-01,  1.82974946e+00,  9.33989733e-02,
         9.84324813e-01, -6.16583288e-01, -3.41412634e-01,
        -9.84492421e-01,  1.45500815e+00, -3.77343178e-01,
         7.28949428e-01,  5.63347757e-01,  3.56732666e-01,
         6.08393431e-01,  1.45975721e+00,  1.18503046e+00,
        -1.59389406e-01,  1.51063001e+00,  1.71078789e+00,
        -1.86371410e+00,  1.00046709e-01, -1.79359031e+00,
        -1.39691114e+00, -1.18343937e+00, -8.40451658e-01,
        -4.90440071e-01, -2.03887478e-01,  2.16164544e-01,
        -7.47550368e-01, -6.84744060e-01,  5.70659041e-01,
        -4.76531774e-01,  2.73759514e-01,  1.32868421e+00,
         3.25996816e-01, -9.43532586e-01, -7.40831912e-01,
         1.29328787e-01,  9.11102295e-01,  1.02487576e+00,
        -1.99079663e-01,  7.00899959e-01, -5.43428540e-01,
         3.74063820e-01, -1.92544281e+00,  9.32992637e-01,
         8.43535900e-01,  1.16660988e+00, -2.02478439e-01,
        -1.43149149e+00,  1.45278454e+00, -9.78521883e-01,
         7.21108317e-01, -8.06327760e-01,  2.94720143e-01,
        -1.21112072e+00, -7.90619433e-01, -3.22945207e-01,
        -3.77796143e-01, -3.48409355e-01, -5.18899262e-01,
         1.05482519e+00, -3.59291226e-01, -2.44418696e-01,
        -9.71266389e-01, -8.42393935e-01, -9.27656353e-01,
         2.44461134e-01,  1.21465933e+00,  1.62252709e-01,
         4.17458177e-01,  8.64831448e-01, -1.40959847e+00,
        -1.11879194e+00,  1.44412011e-01, -9.19608355e-01,
        -1.61607313e+00,  1.87260047e-01,  5.89941621e-01,
         7.46020854e-01,  1.07251918e+00, -1.93722457e-01,
         5.82810163e-01,  3.15764368e-01,  1.14578283e+00,
        -8.55254829e-01,  1.23835385e+00, -1.18306530e+00,
        -1.11363161e+00,  9.51025486e-01,  9.22157705e-01,
         1.13721108e+00,  1.43769717e+00, -1.01304114e+00,
        -2.90451795e-01, -1.28793061e+00, -4.22410667e-01,
         2.56594837e-01, -5.83829939e-01,  1.61761537e-01,
        -7.45181620e-01,  1.62585461e+00, -8.57503831e-01,
        -3.19812410e-02,  3.62274587e-01,  1.47115004e+00,
         1.08565557e+00, -6.20598018e-01, -1.54684925e+00,
         3.48862082e-01, -3.30867320e-01,  8.30220461e-01,
        -1.34308696e+00, -1.45958817e+00, -9.25640881e-01,
        -1.96218312e-01,  2.52259988e-02,  1.61818400e-01,
         1.58351457e+00, -9.27936435e-01, -1.93727970e-01,
        -8.39035749e-01,  1.44117582e+00, -3.70374709e-01,
         2.96098879e-03,  1.35962546e-01,  1.07509148e+00,
        -1.39584184e-01, -5.40004432e-01, -1.19765711e+00,
        -8.48113358e-01,  2.07212582e-01,  1.76127279e+00,
         7.13335335e-01,  1.45403194e+00,  1.62962282e+00,
        -9.76533890e-01, -1.57295972e-01,  5.74509740e-01,
         1.13081896e+00,  5.37453413e-01, -4.11364853e-01,
        -4.58805472e-01,  9.23222363e-01, -9.23267603e-01,
         6.29579186e-01, -1.52821386e+00, -5.76695502e-01,
         5.39113522e-01,  3.11093777e-02, -6.64117932e-02,
        -6.26585484e-02, -2.73148388e-01,  9.13540184e-01,
         1.22581148e+00,  1.23173237e+00,  7.09170759e-01,
        -1.11918902e+00,  1.23333001e+00, -6.62643075e-01,
        -5.48052967e-01,  1.19902885e+00, -3.06055069e-01,
         1.44660562e-01,  8.44052374e-01, -1.83966136e+00,
        -1.15813816e+00,  2.45916128e-01,  6.04438245e-01,
         9.74412262e-01, -3.14641565e-01,  3.61651033e-01,
         1.21986771e+00, -8.87191951e-01, -1.14510560e+00,
         6.21472299e-01, -1.33984283e-01,  1.15080929e+00,
         6.00989982e-02, -1.51590812e+00,  8.76269639e-01,
         9.83341753e-01,  2.90702641e-01, -6.69540942e-01,
        -8.27996254e-01,  8.25991690e-01, -1.33893323e+00,
         7.46010914e-02,  1.11332262e+00, -8.37694228e-01,
         9.06844139e-02, -1.36982155e+00,  1.77460298e-01,
         4.47553098e-02, -1.44531488e+00,  1.35725081e-01,
        -4.09866780e-01,  4.78445664e-02, -4.29876596e-02,
         3.58898938e-01,  2.67078757e-01, -3.80282193e-01,
        -1.20034504e+00,  8.26549113e-01,  4.66995567e-01,
         1.68270433e+00,  2.41575420e-01,  4.15812671e-01,
         1.68255389e+00,  8.38035941e-01,  9.68378663e-01,
        -3.14189255e-01,  2.87829876e-01,  1.55417943e+00,
        -9.09273386e-01,  1.02824962e+00, -4.11848813e-01,
        -4.99446243e-01,  5.93024552e-01,  1.31523228e+00,
         4.15658385e-01,  1.60593820e+00, -8.28386366e-01,
        -2.46292293e-01, -1.63903248e+00,  8.36865366e-01,
         1.46193206e-01,  6.10306442e-01, -1.65389979e+00,
         1.26473594e+00, -1.15980625e-01,  6.81589186e-01,
         5.18425882e-01, -3.40920746e-01, -5.88118210e-02,
        -1.42524052e+00, -1.21137142e+00,  4.57577795e-01,
         8.97944331e-01, -9.37151909e-01, -1.03891468e+00,
        -1.58511746e+00,  1.78608909e-01,  6.83210433e-01,
        -2.86115825e-01,  4.12626892e-01, -1.49327660e+00,
        -1.60896406e-02, -6.32295385e-02, -7.39549696e-01,
         9.39424455e-01,  4.16796207e-02,  4.28529441e-01,
        -1.41768289e+00,  1.62496579e+00,  1.52818739e+00,
         1.00359492e-01, -7.71659762e-02, -1.59540340e-01,
         1.28773665e+00,  3.07490170e-01, -3.47238272e-01,
         6.78535581e-01, -1.50368989e+00,  2.98348423e-02,
         1.29804626e-01,  1.26745749e+00,  1.04098928e+00,
        -3.15262407e-01, -7.06272364e-01, -3.15219104e-01,
        -5.66855371e-01, -9.14414600e-02, -2.43346125e-01,
         1.30621970e-01,  3.77235949e-01, -7.24905431e-01,
        -9.15265322e-01, -8.90475929e-01,  1.54209495e+00,
         7.08280742e-01, -1.35645717e-01,  1.26402044e+00,
        -7.66905367e-01,  5.46927601e-02, -6.86436594e-01,
        -1.00702214e+00,  7.01093078e-01,  4.42707032e-01,
         3.77558857e-01, -1.08872664e+00, -3.60026360e-01,
         2.17838630e-01,  1.58682060e+00, -2.22146809e-01,
         9.52176228e-02,  7.41919935e-01,  1.26563334e+00,
         4.32078302e-01,  1.57708988e-01,  1.41430810e-01,
        -8.59471440e-01, -1.04366732e+00, -1.23878010e-01,
         1.48999739e+00, -1.02649367e+00, -1.63149452e+00,
         1.15415466e+00, -1.40048361e+00,  1.73718286e+00,
        -8.81625772e-01,  1.56028557e+00, -1.84900331e+00,
         1.43357193e+00, -8.73985171e-01, -1.28484118e+00,
        -7.70511687e-01, -1.39905608e+00, -1.41099155e+00,
        -4.49691653e-01,  6.97842062e-01, -2.97406912e-01,
        -9.68959570e-01,  6.01810098e-01,  1.73400640e-01,
        -1.29965711e+00, -2.84859300e-01,  1.31373966e+00,
         1.31216180e+00, -7.01125920e-01,  1.21833789e+00,
         3.93830657e-01, -1.23626113e+00,  1.89218670e-01,
         9.36664283e-01,  9.75082666e-02,  5.44246018e-01,
         3.28579932e-01,  7.88037062e-01,  7.99847186e-01,
        -9.34327424e-01, -7.22659051e-01, -5.96661925e-01,
         8.48695755e-01, -1.92107749e+00,  1.25167382e+00,
        -1.35450423e+00,  6.87551677e-01, -5.19061148e-01,
         1.01657522e+00, -4.27411765e-01, -1.35353386e-01,
        -3.62368017e-01,  6.70392513e-01,  1.64769620e-01,
        -2.07678676e-01, -5.88208199e-01, -6.23270273e-01,
         5.94770730e-01, -1.35987782e+00,  5.11041768e-02,
        -3.34716141e-01, -4.17220175e-01, -6.19758725e-01]], dtype=float32)

In [14]:
# Step 4: Synthetic oversampling (custom interpolation)
synthetic_points = []

for cluster_id in np.unique(pseudo_labels):
    cluster_data = X_scaled[pseudo_labels == cluster_id]
    n = len(cluster_data)
    if n < 2:
        print(f"Skipping cluster {cluster_id} (only {n} sample).")
        continue

    n_new = n  # number of synthetic samples to add = cluster size
    idx1 = np.random.randint(0, n, n_new)
    idx2 = np.random.randint(0, n, n_new)
    lam = np.random.rand(n_new, 1)

    # Linear interpolation (similar to SMOTE but unsupervised)
    synth = cluster_data[idx1] * lam + cluster_data[idx2] * (1 - lam)
    synthetic_points.append(synth)

# Combine
synthetic_data = np.vstack(synthetic_points)
synthetic_df = pd.DataFrame(scaler.inverse_transform(synthetic_data), columns=[f"dim_{i}" for i in range(synthetic_data.shape[1])])

print(f"Original samples: {len(transactions)}")
print(f"Synthetic samples added: {len(synthetic_df)}")

Skipping cluster 2 (only 1 sample).
Original samples: 5
Synthetic samples added: 4

In [15]:
synthetic_df

,dim_0,dim_1,dim_2,dim_3,dim_4,dim_5,dim_6,dim_7,dim_8,dim_9,...,dim_374,dim_375,dim_376,dim_377,dim_378,dim_379,dim_380,dim_381,dim_382,dim_383
0,0.038548,0.037965,0.009196,0.013508,-0.031804,-0.023765,0.010994,-0.025609,0.018822,0.023051,...,-0.011319,-0.021008,-0.024675,-0.070620,-0.054723,0.068287,0.059204,-0.065720,-0.032245,-0.013063
1,0.051037,0.077542,-0.044711,0.005778,-0.032453,-0.030024,-0.012374,0.019534,0.042759,0.048203,...,0.005237,-0.015962,-0.008759,-0.062103,-0.042108,-0.000446,0.035886,-0.100742,-0.029990,-0.030972
2,0.046081,-0.004711,-0.030309,-0.003141,0.011967,-0.029431,-0.001941,-0.063982,0.086089,0.035813,...,0.007730,0.007024,0.036800,-0.052031,-0.015176,0.028738,0.041142,-0.148110,-0.041254,0.034706
3,0.046081,-0.004711,-0.030309,-0.003141,0.011967,-0.029431,-0.001941,-0.063982,0.086089,0.035813,...,0.007730,0.007024,0.036800,-0.052031,-0.015176,0.028738,0.041142,-0.148110,-0.041254,0.034706

In [18]:
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler
from sentence_transformers import SentenceTransformer

# Assume you already have:
# - transactions (original dataframe)
# - synthetic_data (your synthetic embeddings)
# - embeddings (original embeddings corresponding to each transaction)

synthetic_data = synthetic_df.copy()

# 1ï¸âƒ£ Prepare real embeddings and scale
scaler = StandardScaler()
X_scaled = scaler.fit_transform(embeddings)
synthetic_scaled = scaler.transform(synthetic_data)

# 2ï¸âƒ£ Find nearest neighbors
nn = NearestNeighbors(n_neighbors=1, metric='cosine')
nn.fit(X_scaled)
distances, indices = nn.kneighbors(synthetic_scaled)

# 3ï¸âƒ£ For each synthetic embedding, pick the closest real transaction
synthetic_like = txns.iloc[indices.flatten()].copy().reset_index(drop=True)

# 4ï¸âƒ£ Optionally, perturb numeric fields slightly to make them unique
numeric_cols = ['amount']
for col in numeric_cols:
    if col in synthetic_like.columns:
        noise = np.random.normal(0, 0.05, len(synthetic_like)) * synthetic_like[col]
        synthetic_like[col] = (synthetic_like[col] + noise).round(2)

# 5ï¸âƒ£ Combine original + synthetic transactions
txns['type'] = 'original'
synthetic_like['type'] = 'synthetic'
augmented_df = pd.concat([txns, synthetic_like], ignore_index=True)

print(f"Original data: {len(txns)} rows")
print(f"Augmented data: {len(augmented_df)} rows")
augmented_df.head(10)

Original data: 5 rows
Augmented data: 9 rows

  card_number country_code    merchant  amount         mcc       type
0      card_1          USA     Netflix   15.99   Streaming   original
1      card_1          USA     Walmart  220.50   Groceries   original
2      card_2          FRA   Carrefour   80.20      Retail   original
3      card_3          IND      Amazon   55.30  E-commerce   original
4      card_3          IND  Big Bazaar   60.75   Groceries   original
5      card_1          USA     Walmart  222.43   Groceries  synthetic
6      card_3          IND  Big Bazaar   61.74   Groceries  synthetic
7      card_3          IND      Amazon   56.02  E-commerce  synthetic
8      card_3          IND      Amazon   54.55  E-commerce  synthetic

In [40]:
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler
from sentence_transformers import SentenceTransformer

def generate_synthetic_merchants(
    df: pd.DataFrame,
    n_synthetic: int = None,
    oversample_factor: float = None,
    model_name: str = "sentence-transformers/all-MiniLM-L6-v2"
):
    """
    Generate realistic synthetic merchant/transaction data using embeddings + nearest neighbors.

    Parameters:
    - df: Original DataFrame
    - n_synthetic: Total number of synthetic samples to generate (optional)
    - oversample_factor: Multiplier for oversampling (optional)
    - model_name: HuggingFace sentence transformer to embed text fields

    Returns:
    - augmented_df: pd.DataFrame (original + synthetic)
    """
    # --- Determine oversampling size
    if n_synthetic is None and oversample_factor is None:
        raise ValueError("Please specify either n_synthetic or oversample_factor")
    if oversample_factor is not None:
        n_synthetic = int(len(df) * oversample_factor)

    # --- Auto-detect text & numeric columns
    text_cols = df.select_dtypes(include=['object']).columns.tolist()
    numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

    print(f"ðŸ§  Text columns: {text_cols}")
    print(f"ðŸ”¢ Numeric columns: {numeric_cols}")
    print(f"ðŸ“ˆ Generating {n_synthetic} synthetic samples...")

    # --- Combine text columns into semantic text for embedding
    text_data = df[text_cols].astype(str).agg(" ".join, axis=1)

    # --- Generate embeddings
    model = SentenceTransformer(model_name)
    embeddings = model.encode(text_data, show_progress_bar=True)

    # --- Scale embeddings
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(embeddings)

    # --- Generate new synthetic embeddings (random interpolation)
    np.random.seed(42)
    idx1 = np.random.randint(0, len(embeddings), n_synthetic)
    idx2 = np.random.randint(0, len(embeddings), n_synthetic)
    lam = np.random.rand(n_synthetic, 1)
    synthetic_emb = lam * embeddings[idx1] + (1 - lam) * embeddings[idx2]
    synthetic_scaled = scaler.transform(synthetic_emb)

    # --- Match to nearest neighbors in original space
    nn = NearestNeighbors(n_neighbors=1, metric='cosine')
    nn.fit(X_scaled)
    distances, indices = nn.kneighbors(synthetic_scaled)

    synthetic_like = df.iloc[indices.flatten()].copy().reset_index(drop=True)

    # --- Add slight random noise to numeric features
    for col in numeric_cols:
        noise = np.random.normal(0, 0.05, len(synthetic_like))
        synthetic_like[col] = synthetic_like[col] + (synthetic_like[col] * noise)
        if np.issubdtype(df[col].dtype, np.integer):
            synthetic_like[col] = synthetic_like[col].round().astype(int)
        else:
            synthetic_like[col] = synthetic_like[col].round(2)

    # --- Optional: add slight randomness to merchant_name / city for uniqueness
    synthetic_like["merchant"] = synthetic_like["merchant"] + "_syn"
    # synthetic_like["city"] = synthetic_like["city"] + "_syn"

    # --- Combine both
    df['type'] = 'real'
    synthetic_like['type'] = 'synthetic'
    augmented_df = pd.concat([df, synthetic_like], ignore_index=True)
    return augmented_df, text_data

In [45]:
# Assume df = your transactions dataframe
if 'type' in txns.columns:
    txns = txns.drop('type',axis=1)
    
augmented_df, text_data = generate_synthetic_merchants(
    df=txns,
    n_synthetic = 1000
)

ðŸ§  Text columns: ['card_number', 'country_code', 'merchant', 'mcc']
ðŸ”¢ Numeric columns: ['amount']
ðŸ“ˆ Generating 1000 synthetic samples...

Batches: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 96.11it/s]

In [46]:
text_data

0       card_1 USA Netflix Streaming
1       card_1 USA Walmart Groceries
2        card_2 FRA Carrefour Retail
3       card_3 IND Amazon E-commerce
4    card_3 IND Big Bazaar Groceries
dtype: object

In [44]:
txns

  card_number country_code    merchant  amount         mcc  type
0      card_1          USA     Netflix   15.99   Streaming  real
1      card_1          USA     Walmart  220.50   Groceries  real
2      card_2          FRA   Carrefour   80.20      Retail  real
3      card_3          IND      Amazon   55.30  E-commerce  real
4      card_3          IND  Big Bazaar   60.75   Groceries  real